@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,800;1,400&display=swap');

body {
  background-color: #0b421a;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 5em !important;
  font-weight: bold;
  padding-top: 0.5em;
}

.smallz {
  font-size: 25px !important;
}

.tan {
  color:#eac784;
  /* text-decoration: underline; */
  font-style: italic
}

h3 {
  margin: 0 1em 0 1em;
}

strong {
  color: #eac784;
}

.col-lg-5 {
  text-align: left;
}

h5 {
  font-weight: bold;
  font-size: 2em;
}

a {
  color: #eac784;
}

.btn-outline-danger {
  border-color: #eac784;
  color: #eac784;
}

.btn-outline-danger:hover {
  border-color: #eac784;
  color: #362415;
  background-color: #eac784
}

.btn-warning {
  background-color: #eac784;
  border-color: #eac784;
  padding: 1em 2em 1em 2em;
  text-align: center;
  margin: auto 1em auto 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.btn-primary {
  background-color: #362415;
  border-style: none;
  margin: 0 10px 20px 10px;
}

code {
  color: #eac784
}

.col-lg-7 {
  align-items: center;
}

.row {
  margin-top: 3em;
}

img {
  height: 20em;
  /* padding: 5px; */
  border: 2px solid #eac784;
  margin-left: 1em;
}

h4 {
  padding: 1em;
  margin: 0 2em 0 2em
}

h2 {
  font-size: 2em;
  padding: 1em;
}



footer {
  background-color: #362415;
  padding: 1em 0 1em 0;
  margin-top: 2em;
}

footer small {
  margin-bottom: 1em;
} 

.cup {
  border-style: none;
  height: 30em;
  margin: none;
}

.nav-link {
  color: #eac784
}

.nav-link:hover {
  color: white;
}

@media only screen and (max-width: 800px) {
  img {
    height: 10em !important;
    margin-left: 1em;
  }
  .btn-warning {
    margin: 1em;
    padding: 0.5em;
  }
  h1 {
    font-size: 4em !important;
  }
  h4 {
    margin: 1em;
    font-size: 1em;
  }
  .cup {
    height: 20em !important;
    
  }
}